.droid-section {
  display: grid;
  grid-template-rows: 9fr 1fr;
}

.droid-display {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 4px;
}

.display-side-container {
  display: grid;
  grid-template-rows: 5fr 2fr;
}

.display-top-left {
  border: solid 2px var(--bright-highlight);
}

.display-segmented-container {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

.display-segment-margin {
  margin-top: 4px;
}

.display-left-segment {
  border-top: solid 2px var(--bright-highlight);
  border-left: solid 2px var(--bright-highlight);
  border-bottom: solid 2px var(--bright-highlight);
}

.display-center-lower-segment {
  border-bottom: solid 2px var(--bright-highlight);
}

.display-center-upper-segment {
  border-top: solid 2px var(--bright-highlight);
}

.display-right-segment {
  border-top: solid 2px var(--bright-highlight);
  border-right: solid 2px var(--bright-highlight);
  border-bottom: solid 2px var(--bright-highlight);
}

.droid-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 35px;
}

.footer-outer {
  border-top: solid 2px var(--dim-highlight);
  border-bottom: solid 1px var(--dim-highlight);
}

.footer-center-outer {
  border-bottom: solid 2px var(--dim-highlight);
  display: flex;
}

.footer-outline-break-container {
  display: grid;
  grid-template-rows: 5fr 2fr 1fr 9fr;
  width: 16px;
}

.break-top-left {
  border-left: solid 2px var(--dim-highlight);
  border-bottom: solid 2px var(--dim-highlight);
  display: flex;
  flex-direction: row-reverse;
}

.break-bottom-left {
  border-top: solid 2px var(--dim-highlight);
  border-left: solid 2px var(--dim-highlight);
}

.break-top-right {
  border-right: solid 2px var(--dim-highlight);
  border-bottom: solid 2px var(--dim-highlight);
  display: flex;
  flex-direction: row;
}

.break-bottom-right {
  border-top: solid 2px var(--dim-highlight);
  border-right: solid 2px var(--dim-highlight);
}

.break-center {
  border-bottom: solid 2px var(--dim-highlight);
}

.break-top-extention {
  width: 80%;
  border-top: solid 1px var(--dim-highlight);
}

.footer-inner {
  border-top: solid 1px var(--dim-highlight);
  border-bottom: solid 1px var(--dim-highlight);
  height: 15px;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-inner-left {
  border-right: solid 1px var(--dim-highlight);
  margin-right: 10px;
  flex-direction: row-reverse;
}

.footer-inner-right {
  border-left: solid 1px var(--dim-highlight);
  margin-left: 10px;
  flex-direction: row;
}

.faux-button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: solid 1px var(--dim-highlight);
}

.faux-button {
  height: 8px;
  width: 16px;
}

.faux-button-left {
  border-top: solid 2px var(--dim-highlight);
  border-right: solid 2px var(--dim-highlight);
  margin-right: 3px;
}

.faux-button-right {
  border-left: solid 2px var(--dim-highlight);
  border-bottom: solid 2px var(--dim-highlight);
  margin-left: 3px;
}

.faux-button-center {
  border-left: solid 2px var(--dim-highlight);
  border-top: solid 2px var(--dim-highlight);
  border-right: solid 2px var(--dim-highlight);
  margin-top: 8px;
}

.faux-button-text {
  color: var(--dim-highlight);
  font-weight: bold;
  margin-top: 2px;
}

.animation-container {
  align-self: flex-end;
}

.warning-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -105%);
  z-index: 11;
}

.warning-inner {
  position: relative;
  height: 220px;
  width: 120px;
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  background-color: var(--dark-background);
  border: solid 5px var(--dark-background);
}

.warning-animation {
  width: 100px;
  left: 10px;
  top: 10px;
  position: absolute;
}