.panel-container {
  height: 600px;
  border: solid black 25px;
  background-color: #092968;
  border-radius: 50px;
  width: 300px;
  display: grid;
  grid-template-rows: 2fr 7fr 1fr;
}

.data-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: solid 1px #456883;
}

.data-column {
  border-left: solid 1px #456883;
  border-top: solid 1px #456883;
  border-right: solid 1px #456883;
  margin: 4px 4px 4px 0px;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.data-column-left {
  border-top-left-radius: 25%;
  margin-left: 4px;
}

.data-column-right {
  border-top-right-radius: 25%;
}

.data-column-subdivided {
  display: grid;
  grid-template-rows: 4fr 1fr;
}

.data-column-detail {
  border: solid 1px #456883;
  margin: 0px 4px 4px 4px;
}

.data-column-inner {
  border-left: solid 1px #6fa2cb;
  border-bottom: solid 1px #6fa2cb;
  border-right: solid 1px #6fa2cb;
  margin: 2px;
}

.droid-section {
  display: grid;
  grid-template-rows: 9fr 1fr;
}

.controls-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 2px #6fa2cb;
  border-radius: 25px;
}

.controls-deco {
  width: 20px;
  height: 20px;
  border: solid 2px #456883;
}

.circle {
  border-radius: 50%;
}

.triangle {
  
}

.droid-display {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 4px;
}

.display-side-container {
  display: grid;
  grid-template-rows: 5fr 2fr;
}

.display-top-right {
  border: solid 2px #6fa2cb;
}

.display-segmented-container {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

.display-segment-margin {
  margin-top: 4px;
}

.display-left-segment {
  border-top: solid 2px #6fa2cb;
  border-left: solid 2px #6fa2cb;
  border-bottom: solid 2px #6fa2cb;
}

.display-center-lower-segment {
  border-bottom: solid 2px #6fa2cb;
}

.display-center-upper-segment {
  border-top: solid 2px #6fa2cb;
}

.display-right-segment {
  border-top: solid 2px #6fa2cb;
  border-right: solid 2px #6fa2cb;
  border-bottom: solid 2px #6fa2cb;
}

.droid-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 35px;
}

.footer-outer {
  border-top: solid 2px #456883;
  border-bottom: solid 1px #456883;
}

.footer-center-outer {
  border-bottom: solid 2px #456883;
  display: flex;
}

.footer-outline-break-container {
  display: grid;
  grid-template-rows: 5fr 2fr 1fr 9fr;
  width: 16px;
}

.break-top-left {
  border-left: solid 2px #456883;
  border-bottom: solid 2px #456883;
  display: flex;
  flex-direction: row-reverse;
}

.break-bottom-left {
  border-top: solid 2px #456883;
  border-left: solid 2px #456883;
}

.break-top-right {
  border-right: solid 2px #456883;
  border-bottom: solid 2px #456883;
  display: flex;
  flex-direction: row;
}

.break-bottom-right {
  border-top: solid 2px #456883;
  border-right: solid 2px #456883;
}

.break-center {
  border-bottom: solid 2px #456883;
}

.break-top-extention {
  width: 80%;
  border-top: solid 1px #456883;
}

.footer-inner {
  border-top: solid 1px #456883;
  border-bottom: solid 1px #456883;
  height: 15px;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-inner-left {
  border-right: solid 1px #456883;
  margin-right: 10px;
  flex-direction: row-reverse;
}

.footer-inner-right {
  border-left: solid 1px #456883;
  margin-left: 10px;
  flex-direction: row;
}

.faux-button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: solid 1px #456883;
}

.faux-button {
  height: 8px;
  width: 16px;
}

.faux-button-left {
  border-top: solid 2px #456883;
  border-right: solid 2px #456883;
  margin-right: 3px;
}

.faux-button-right {
  border-left: solid 2px #456883;
  border-bottom: solid 2px #456883;
  margin-left: 3px;
}

.faux-button-center {
  border-left: solid 2px #456883;
  border-top: solid 2px #456883;
  border-right: solid 2px #456883;
  margin-top: 8px;
}

.faux-button-text {
  color: #456883;
  font-weight: bold;
  margin-top: 2px;
  user-select: none;
}