.controls-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--bright-highlight);
  border-radius: 25px;
}

.controls-deco {
  width: 20px;
  height: 20px;
  border: solid 1px var(--dim-highlight);
}

.circle {
  border-radius: 50%;
}

.triangle {
  -webkit-text-stroke: 1px var(--dim-highlight);;
  color: transparent;
  font-size: 20px;
  transform: rotate(90deg);
}

.button-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-text-left {
  font-size: 1.75rem;
  z-index: 10;
}

.button-text-right {
  font-size: 0.75rem;
  z-index: 10;
}

.chart-button-container {
  width: 90px;
  height: 50px;
  position: relative;
}

.chart-display {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}