.data-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: solid 1px var(--dim-highlight);
}

.data-column {
  border-left: solid 1px var(--dim-highlight);
  border-top: solid 1px var(--dim-highlight);
  border-right: solid 1px var(--dim-highlight);
  margin: 4px 4px 4px 0px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  position: relative;
}

.data-column-left {
  border-top-left-radius: 25%;
  margin-left: 4px;
}

.data-column-right {
  border-top-right-radius: 25%;
}

.data-column-subdivided {
  display: grid;
  grid-template-rows: 4fr 1fr;
}

.data-column-detail {
  border: solid 1px var(--dim-highlight);
  margin: 0px 4px 4px 4px;
}

.data-column-inner {
  border-left: solid 1px var(--bright-highlight);
  border-bottom: solid 1px var(--bright-highlight);
  border-right: solid 1px var(--bright-highlight);
  margin: 2px;
  padding: 2px;
}

.markers-container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 8fr;
  top: 8px;
  left: 8px;
  width: 90%;
  height: 90%;
}

.segmented-marker-container {
  height: 40px;
  width: 50px;
  animation-name: segmented-marker;
  animation-iteration-count: infinite;
}

.small-marker-container{
  animation-name: small-marker;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.marker-group-1 {
  animation-duration: 4s;
}

.marker-group-2 {
  animation-duration: 3.5s;
}

.marker-group-3 {
  animation-duration: 4.6s;
}

.paused {
  animation-play-state: paused;
}

@keyframes segmented-marker {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(110px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes small-marker {
  from {
    transform: translateY(140px);
  }
  50% {
    transform: translateY(0px);
  }
  to {
    transform: translateY(140px);
  }
}