.action-button-container {
  background-color: #07235c;
  width: 100px;
  height: 60px;
  margin: 5px;
  display: grid;
  grid-template-rows: 3fr 1fr 3fr;
  position: relative;
}

.action-button-top {
  border-left: solid 2px var(--bright-highlight);
  border-top: solid 2px var(--bright-highlight);
  border-right: solid 2px var(--bright-highlight);
  grid-row: 1;
}

.action-button-container:active .action-button-top {
  border-left: solid 2px var(--active-highlight);
  border-top: solid 2px var(--active-highlight);
  border-right: solid 2px var(--active-highlight);
}

.action-button-mid {
  border: none;
  grid-row: 2;
}

.action-button-bottom {
  border-left: solid 2px var(--bright-highlight);;
  border-bottom: solid 2px var(--bright-highlight);
  border-right: solid 2px var(--bright-highlight);
  grid-row: 3;
}

.action-button-container:active .action-button-bottom {
  border-left: solid 2px var(--active-highlight);
  border-bottom: solid 2px var(--active-highlight);
  border-right: solid 2px var(--active-highlight);
}

.action-button-container:visited .action-button-bottom {
  border: none;
}

.is-active {
  border: none;
}

.action-button-active-center  {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 9;
  width: 90px;
  height: 50px;
}

.action-button-container:active .action-button-active-center {
  color: var(--active-highlight);
  background: var(--active-highlight);
}