body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--outer-background);
}

:root {
  --bright-highlight: #6fa2cb;
  --dim-highlight: #456883;
  --active-highlight: #d39636;
  --active-dark: #5A3C16;
  --dark-background: #092968;
  --outer-background: #45495a;
}